display: flex: auto;

body {

}

title {

}

.container {
  display: flex:inline-block;
  flex-flow: row;
}

h1 {
  display: flex;
  flex:auto;
  font-family:'Walter Turncoat', cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: semi-condensed;
}

#pic1 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#pic2 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#pic3 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#button {
flex: auto;
font-family:'Walter Turncoat', cursive;
font-size: 12px;
font-weight: bold;
background:color: #5d8496;
font: color #e2e1ec;
}
