

.flex-container {
display:flex;
flex-direction: row;
background-color: #b6b8bb;
}

h1 {
  display: flex;
  flex:auto;
  font-family:'Walter Turncoat', cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: semi-condensed;
}

.pics {
  display: flex;
  flex-flow: row;
}

#imageDisplayLeft {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#imageDisplayCenter {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#imageDisplayRight {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#button {
flex: auto;
font-family:'Walter Turncoat', cursive;
font-size: 12px;
font-weight: bold;
background:color: #5d8496;
font: color #e2e1ec;
}
