
body {

}

title {
  font-family: monospace:


}
.container {
  display: flex:inline-block;
  flex-flow: row;
}

#pic1 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#pic2 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

#pic3 {
  flex:auto;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

.inline-block-tight button {
  flex: auto;
}
